.popup {
  display: flex;
  flex-direction: row;
  height: 40px;
  position: fixed;
  top: 100px;
  right: 100px;
  .msg {
    padding: 10px 10px;
  }
  &.default {
    display: none;
  }
  &.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    border: 1px solid #2d6da5;
    .info {
      width: 20px;
      height: 40px;
      background-color: #428bca;
    }
  }
  &.error {
    display: felx;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #ca2d28;
    .error {
      width: 20px;
      height: 40px;
      background-color: #d43f3a;
    }
  }
}